*.psd filter=lfs diff=lfs merge=lfs -text
*.wav filter=lfs diff=lfs merge=lfs -text
*.blend filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.mp3 filter=lfs diff=lfs merge=lfs -text
*.FBX filter=lfs diff=lfs merge=lfs -text
*.fbx filter=lfs diff=lfs merge=lfs -text
*.mat filter=lfs diff=lfs merge=lfs -text
*.prefab filter=lfs diff=lfs merge=lfs -text
*.tga filter=lfs diff=lfs merge=lfs -text
Jedi[[:space:]]Knight/Assets/TempEthan.prefab filter=lfs diff=lfs merge=lfs -text
Jedi[[:space:]]Knight/Assets/Downloaded[[:space:]]Assets/Ethan[[:space:]]Enemies/GameOverText.js filter=lfs diff=lfs merge=lfs -text
Jedi[[:space:]]Knight/Assets/Downloaded[[:space:]]Assets/IncrementScore.js filter=lfs diff=lfs merge=lfs -text
Jedi[[:space:]]Knight/Assets/EthanSaberTest.js filter=lfs diff=lfs merge=lfs -text
